@import 'nib'

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
#btns > .btn {
  margin-right: 1em;
}
// Animations for in Queue notice
@keyframes throb
  from { opacity:1.0; }
  50% { opacity: 0.1; }
  to { opacity: 1.0 }
.throbbingLabel
  padding: 5px
  font-size:110%
  animation: throb 2s infinite
